.no-questions {
    display: block;
    text-align: center;
    margin: 42px auto;
    width: 50%;

    img {
        margin-bottom: 24px;
    }

    h2 {
        margin-bottom: 15px;
        font-family: 'Poppins', sans-serif;
    }
    
    p {
        color: #737380;
    }

}